{%extends 'gestionAdmin.html'%}
{% load static %}
{%block title%}Gestion Inventario{%endblock%}
{%block body%}
<div class="row">
    <div class="col-md-4 offset-md-4">
        <h2>Edicion Proveedores</h2>
        <div class="card">
            <div class="card-body">
                <form action="{%url 'edicionProveedores' %}" method="POST">
                    {%csrf_token%}
                    <div class="form-group">
                        <input type="text" id="textId" name="textId" value="{{Suppliers.id}}" class="form-control" readonly
                            required>
                    </div>
                    <div class="form-group">
                        
                        <input type="text" id="textNombre" name="textNombre" value="{{Suppliers.name}}" class="form-control" placeholder="Nombre"
                            required>
                    </div>
                    <div class="form-group">
                        <input type="text" id="textRun" name="textRun" value="{{Suppliers.run}}" class="form-control" readonly
                            required>
                    </div>
                    <div class="form-group">
                        <input type="number" id="textCellphone" name="textCellphone" value="{{Suppliers.cellphone}}" class="form-control" r
                            required>
                    </div>
                    <div class="form-group">
                        <input type="email" id="textEmail" name="textEmail" value="{{Suppliers.email}}" class="form-control" 
                            >
                    </div>
                    <div class="form-group"><button type="submit"
                            class="btn btn-success btn-block text-white">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{%endblock%}