{%extends 'inventario/inventario.html'%}
{% load static %}
{%block title%}Gestion Inventario{%endblock%}


{%block body%}
<div class="row">
    <div class="col-4">
        <h2>Registro Proveedores</h2>
        <div class="card">
            <div class="card-body">
                <form action="{%url 'registroProveedor'%}" method="POST">
                    {%csrf_token%}
                    <div class="form-group">
                        <input type="text" id="textNombre" name="textNombre" class="form-control" placeholder="Nombre"
                            required>
                    </div>
                    <div class="form-group">
                        <input type="text" id="textRun" name="textRun" class="form-control" placeholder="Run"
                            required>
                    </div>
                    <div class="form-group">
                        <input type="number" id="textCellphone" name="textCellphone" class="form-control" placeholder="Celular"
                            required>
                    </div>
                    <div class="form-group">
                        <input type="email" id="textEmail" name="textEmail" class="form-control" placeholder="Email"
                            >
                    </div>
                    <div class="form-group"><button type="submit"
                            class="btn btn-success btn-block text-white">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-8">
        <h1>Lista de Proveedores</h1>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Run</th>
                        <th>Nombre</th>
                        <th>Telefono</th>
                        <th>Email</th>
                        <th colspan="2">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {%for p in Suppliers%}
                    <tr>
                        <td>{{p.run}}</td>
                        <td>{{p.name}}</td>
                        <td>{{p.cellphone}}</td>
                        <td>{{p.email}}</td>
                        <td><a href="{%url 'editarProveedor' p.id%}" class="btn btn-warning">Editar</a></td>
                        <td><a href="{%url 'eliminarProveedor' p.id%}" class="btn btn-danger">Eliminar</a></td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
    </div>
</div>
{%endblock%}